body {
	background-color: #FFF !important;
}
#branding hgroup {
	height: 0px;
}
#site-title, #site-description  {
	text-indent: -9999px;
	height:0;
}

/* organization boxes */
.archive .organization h2, .organization h2 {
	font-size:20px;
	margin-top:0px;
}

/* organization single */
.organization-single h2 {
	font-size:20px;
	margin-top:0px;
}

/* Progress bars in stats */
#directory-stats .progress {
	margin-bottom: 10px;
}
