body {
	background-color: #FFF !important;
}
#branding hgroup {
	height: 0px;
}
#site-title, #site-description  {
	text-indent: -9999px;
	height:0;
}

/* organization boxes */
.archive .organization h2 {
	font-size:20px;
	margin-top:0px;
}
